@{
    ViewBag.Title = "Tonno's";
}

<div class="jumbotron">
    <h1 class="lead text-center">Pizzaria Tonno</h1>
    <p class="text-center">Uw favoriete pizzaria met elke mogelijke pizzatoppings.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>De lekkerste Pizza's</h2>
        <p>
            Pizzaria Tonno heeft de lekkerste pizzas van de wijde omgeving
        </p>
    </div>
    <div class="col-md-4">
        <h2>Zelf samenstellen</h2>
        <p>Alle pizzas kunt u nu zelf samenstellen, kies al uw ingrediënten via onze @Html.ActionLink("pizzamaker", "create", "pizzas").</p>
    </div>
    <div class="col-md-4">
        <h2>Thuisgebracht</h2>
        <p>Alle gerechten worden door ons bij u thuisgebracht</p>
    </div>
</div>